CORS_ORIGIN=http://localhost:3000,http://127.0.0.1:3000

PROJECT_ID=your-firebase-project-id
CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYourKeyHere...\n-----END PRIVATE KEY-----\n"

RESEND_API_KEY=your-resend-api-key
RESEND_FROM=noreply@twitterclone.dev